<h1 align="center">Edit Existing Article</h1>
<%=render 'form' %>
<!-- The word form can just be used because it is referencing the file within it's same folder otherwise it would be like shared/form-->
