$navbar-default-bg: #08088A;


@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  float: left;
  font-size: 1.7 em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;


}
#link{
  color: #fff;
}
#link:hover{
  opacity: 0.5;
}

.center{
  text-align: center;
}
